<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzfk.app.mapper.AppSourceInfoMapper">

    <resultMap type="com.rzfk.app.domain.AppSourceInfo" id="AppSourceInfoResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="typeId" column="type_id"/>
        <result property="seq" column="seq"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="link" column="link"/>
        <result property="status" column="status"/>
    </resultMap>


</mapper>
