// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white: #fff;
.screen {
  display: flex;
  /* 项目垂直从小到大排列 */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  background-image: url("~@/assets/images/screen/bg01.png");
  background-size: cover;
  .screen-content {
    border-radius: 6px;
    width: 100%;
    min-width: 1000px;
    padding: 5px 5px 5px 5px;
    border: 1px solid transparent;
    border-color: rgb(151, 227, 253);
    color: $white !important;
    background: transparent !important;
    ::v-deep .el-table{
      background-color:transparent !important;
      tr {
        background-color:transparent !important;
        &:hover > td {
          background-color:transparent !important;
        }
      }
      .cell {
        color: $white !important;
      }
    }
    ::v-deep .el-tree {
      background-color:transparent !important;
      color: $white !important;
      .el-tree-node__content:hover {
        background-color:transparent !important;
      }
    }
    .pagination-container{
      background-color:transparent !important;
      height: 40px !important;
      color:$white;
      span {
        color: $white;
      }
    }
  }
  .el-screen-footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
